*{
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

/* CSS to customize the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; /* Replace with your desired background color */
}

::-webkit-scrollbar-thumb {
  background-color: #FF8A65; /* Replace with your desired scrollbar color */
  border-radius: 5px; /* Adjust the border-radius to your desired value for rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #E64A19; /* Replace with your desired hover color */
  border-radius: 5px; /* Adjust the border-radius to your desired value for rounded corners */
}

/* For Firefox */
/* You can add more specific styling for Firefox if needed */
scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

scrollbar-thumb {
  background-color: #FF8A65;
  border-radius: 5px;
}

scrollbar-thumb:hover {
  background-color: #E64A19;
  border-radius: 5px;
}
